[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
django = "==3.2"
flake8 = "*"
django-bootstrap5 = "*"
django-debug-toolbar = "*"
uwsgi = "*"
django-extensions = "*"
factory-boy = "*"

[dev-packages]

[requires]
python_version = "3.9"
