{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<div class="container">
  <div class="d-grid gap-2 mx-auto mb-4 border-bottom">
    <a href="{% url 'result_kojin' %}" class="btn btn-primary mb-3">個人記録</a>
    <a href="{% url 'result_taikai' %}" class="btn btn-primary mb-3">大会記録</a>
  </div>
</div>
{% include '_footer.html' %}

<div class="container">
  <div class="d-grid gap-2 mx-auto mb-4">
    <a href="https://github.com/kanata3319/swimsite" target="_blank">GitHub</a>
  </div>
</div>

{% endblock content %}